@import '../../constants/var/vars.sass'

.notification
	background: $colorChats
	font-size: 8px
	line-height: 8px
	margin: 5px
	position: fixed
	right: 10
	bottom: 10
	min-width: 300px
	min-height: 50px
	box-shadow: $boxShadowDefault
	border-radius: 5px
	padding: 5px 10px

	&__error
		color: $colorErorr

	&__access
		color: $colorAccess
