<mine class="profile">
    <div class="profile__leftBox">
        {{{ButtonBack}}}
    </div>
    <div class="profile__info">
        <div class="profile__info_wrapper">
            {{{EditAvatar}}}
            {{{BodyProfile}}}
        </div>
    </div>
    {{{Modal}}}
</mine>