<div class="modalSubMenuItem">
    <img
        class="modalSubMenuItem__icon"
        {{#if rotateDeg}} style="transform: rotate({{rotateDeg}}deg)" {{/if}}
        src={{srcImg}}
        alt={{title}}
    />
    <span class="modalSubMenuItem__text">{{title}}</span>
</div>