<div class="modal">
  <div class="modal__box">
    <h2 class="modal__box_title">{{ title }}</h2>
    <div>{{ body }}</div>
    <div class="modal__footer">
      {{> Button
      label=btnLabel
      }}
      <span class="modal__footer_error">{{ errorMessage }}</span>
    </div>
  </div>
</div>