<div class="message__row  {{#if my}} message__row_my {{/if}}">
  <div class="message__box {{#if my}} message__my {{else}} message__interlocutor {{/if}}">
    <p class="message__message_text">
      {{ textMessage }}
    </p>
    <span class="message__time">
      {{#if my}}<img src="../../assets/imgs/ReadingIcon.svg" alt="прочтение" />{{/if}}
      {{ createMessage }}
    </span>
  </div>
</div>