---
fields: [
{
name: 'login',
label: 'Логин',
id: 'login',
type: 'text',
placeholder: 'Логин',
errorMessage: 'Неверный логин'
},
{
name: 'password',
label: 'Пароль',
id: 'password',
type: 'password',
placeholder: 'Пароль',
errorMessage: 'Ошибка'
},
]

---

<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Authorization</title>
  <script src="./index.ts" type="module"></script>
</head>

<body>
  <div id="root">
    <main class="authorization__box">
      <div>
        <h1 class="authorization__title">Вход</h1>
        <form>
          {{#each fields}}
          {{> FieldForm
          label=this.label
          name=this.name
          id=this.id
          type=this.type
          placeholder=this.placeholder
          errorMessage=this.errorMessage
          }}
          {{/each}}
        </form>
      </div>
      <div>
        <section class="authorization__row ">
          {{> Button label="Авторизоваться" type="submit" name="authorization"}}
        </section>
        <section class="authorization__row  authorization__row_link">
          <a href="/registration" alt="Регистрация">Нет аккаунта?</a>
        </section>
      </div>
    </main>
  </div>

</body>

</html>