<div class="divider"></div>
<div class="chat__item">
  <div class="chat__item_avatar">
  </div>
  <div class="chat__item_centerBox">
    <span class="chat__item_name">{{ login }}</span>
    <span class="chat__item_message">{{ lastMessage }}</span>
  </div>
  <div class="chat__item_rightBox">
    <span class="chat__item_time">{{ dateMessage}}</span>
    <span class="chat__item_newMessage">{{ newMessage }}</span>
  </div>
</div>
<div class="divider"></div>