<div class="chats__correspondence_row ">
  <div class="chats__correspondence_message chats__correspondence_friendMessage">
    <p>
      {{ textMessage }}
    </p>
    <span class="chats__correspondence_time">{{ createMessage }}</span>
  </div>
</div>