.profile
  width: 100vw
  @include centerFlex()
  box-sizing: border-box
  overflow: hidden
  &__leftBox
    width: 65px
    height: 100vh
    background: $colorChats
    border-right: $borderDefault
    box-sizing: border-box
    @include centerFlex()
  &__info
    width: calc( 100vw - 65px )
    display: flex
    justify-content: center
    text-align: center
    overflow-y: auto
    height: 100vh
    padding: 50px 0
    &_wrapper
      width: 510px
    &_row
      @include centerFlex()
      &_params
        flex-direction: column
        align-items: stretch
      &_change
        margin-top: 60px
    &_avatar
      width: 130px
      height: 130px
      border-radius: 130px
      background: $colorAvatar
      @include centerFlex()
      position: relative
      overflow: hidden
      &_add
        visibility: hidden
        position: absolute
        height: 100%
        width: 100%
        @include centerFlex()
        padding: 30px
        background: #000
        color: #fff
      &:hover .profile__info_avatar_add
        opacity: 0.5
        visibility: visible
        cursor: pointer
    &_name
      color: $colorMain
      margin-top: 20px
      margin-bottom: 60px
    &_change
      display: flex
      justify-content: space-between
      padding: 10px 0
      font-size: 13px
      line-height: 13px
      color: $colorPrimary
      cursor: pointer
      &:not(:first-child)
        border-top: $borderDefault
      &_exit
        color: $colorErorr
