<mine class="profile">
    <div class="profile__leftBox">
        {{{ButtonBack}}}
    </div>
    <div class="profile__info">
        <div class="profile__info_wrapper">
            <div class="profile__info_row">
                <div class="profile__info_avatar">
                    <img src="{{srcAvatar}}" alt="Загрузить фото" />
                    <div class="profile__info_avatar_add">
                        Поменять аватар
                    </div>
                </div>
            </div>
            {{{Profile}}}
        </div>
    </div>
</mine>