<button class="itemSearchList__button" id="{{id}}">
    login:
    <span class="itemSearchList__text">
        {{{login}}}
    </span>
    name:
    <span class="itemSearchList__text">
        {{{first_name}}}
    </span>
</button>