---
fields: [
    {
        name: 'email',
        label: 'Почта',
        id: 'email',
        type: 'email',
        placeholder: 'Почта',
        errorMessage: 'Ошибка'
    },
    {
            name: 'login',
            label: 'Логин',
            id: 'login',
            type: 'text',
            placeholder: 'Логин',
            errorMessage: 'Ошибка'
    },
    {
        name: 'first_name',
        label: 'Имя',
        id: 'first_name',
        type: 'text',
        placeholder: 'Имя',
        errorMessage: 'Ошибка'
    },
    {
        name: 'second_name',
        label: 'Фамилия',
        id: 'second_name',
        type: 'text',
        placeholder: 'Фамилия',
        errorMessage: 'Ошибка'
    },
    {
        name: 'display_name',
        label: 'Отображаемое имя',
        id: 'display_name',
        type: 'text',
        placeholder: 'Отображаемое имя',
        errorMessage: 'Ошибка'
    },
    {
        name: 'phone',
        label: 'Телефон',
        id: 'phone',
        type: 'phone',
        placeholder: 'Телефон',
        errorMessage: 'Ошибка'
    },
    {
        name: 'password',
        label: 'Пароль',
        id: 'password',
        type: 'password',
        placeholder: 'Пароль',
        errorMessage: 'Ошибка'
    },
    {
        name: 'password',
        label: 'Пароль (ещё раз)',
        id: 'password',
        type: 'password',
        placeholder: 'Пароль (ещё раз)',
        errorMessage: 'Пароли не совпадают'
    },
]
---

<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>registration</title>
  <script src="./index.ts" type="module"></script>
</head>

<body>
  <div id="root">
    <main class="registration__box">
      <h1 class="registration__title">Регистрация</h1>
      <form>
        {{#each fields}}
        {{> FieldForm
        label=this.label
        name=this.name
        id=this.id
        type=this.type
        placeholder=this.placeholder
        errorMessage=this.errorMessage
        }}
        {{/each}}
        <div class="registration__form_btn">
          {{> Button
          label="Зарегистрироваться"
          name="registration"
          type="submit"
          }}
        </div>
      </form>
      <section class="registration__row  registration__row_link">
        <a href="/login" alt="Регистрация">Войти</a>
      </section>
    </main>
  </div>

</body>

</html>