@import '../../constants/var/vars.sass'

.editProfileField
	display: flex
	justify-content: space-between
	padding: 10px 0

	&:not(:first-child)
		border-top: $borderDefault

	&__value
		font-size: 13px
		line-height: 13px
		color: $colorSecondary
		margin-right: 0
		position: relative
