<div class="editAvatar__row">
    <article class="editAvatar__avatar">
        {{#if srcAvatar}}
            <img
                class="editAvatar__avatar_img"
                src="{{srcAvatar}}"
                alt="аватар"
            />
        {{/if}}
        <button class="editAvatar__avatar_add">
            Поменять аватар
        </button>
    </article>
</div>