<button class="subMenuItem">
    <img
        class="subMenuItem__icon"
        {{#if rotateDeg}} style="transform: rotate({{rotateDeg}}deg)" {{/if}}
        src={{srcImg}}
        alt={{title}}
    />
    <span class="subMenuItem__text">{{title}}</span>
</button>