<form>
    <div class="editProfile__name">{{nameUser}}</div>
    <div class="editProfile__row editProfile__row_params">
        {{#each Fields}}
            {{{this}}}
        {{/each}}
    </div>
    <div class="editProfile__button_wrapper">
        {{{ButtonSave}}}
    </div>
</form>