@import '../../constants/var/vars.sass'

.chatsLeftBox
  width: 25vw
  height: 100vh
  min-width: 310px
  background: $colorChats
  border-left: $borderDefault

  &__groupBtn
    display: flex
    align-items: center
    justify-content: space-evenly
    margin-bottom: 10px

  &__button
    min-width: 100px
    padding: 6px
    height: auto

  &__list
    display: flex
    align-items: center
    flex-direction: column
    overflow-y: scroll
    height: calc(100vh - 95px)
    padding-bottom: 70px
    position: relative

    &::-webkit-scrollbar
      width: 2px

  &__empty
    margin: auto
    color: $colorSecondary
    font-size: 12px
    line-height: 12px

  &__top
    &_profile
      @include centerFlex()
      padding: 20px
      justify-content: flex-end

      &_link
        padding-right: 10px
        font-size: 12px
        line-height: 12px
        color: $colorSecondary
        cursor: pointer
        background-image: url('../../assets/imgs/PolygonIcon.svg')
        background-repeat: no-repeat
        background-position: right

        &:hover
          text-decoration: underline

    &_search
      @include centerFlex()
      position: relative
      margin: 0 auto 15px
      width: 96%
      border-radius: 5px
      background: $colorBorder

      &_input
        width: 100%
        background: none
        padding: 5px 10px 5px 35px
        z-index: 1
        border: none
        box-sizing: border-box

      &_placeholder
        @include centerFlex()
        justify-content: space-between
        width: 50px
        position: absolute
        font-size: 12px
        line-height: 12px
        color: $colorSecondary
        background-image: url('../../assets/imgs/SearchIcon.svg')
        background-repeat: no-repeat
        padding-left: 15px

      &:focus-within &_placeholder
        left: 15px
        width: 15px
        height: 15px

      &:focus-within &_placeholder span
        display: none
