<sector class="chatsLeftBox">
    <div>
        <div class="chatsLeftBox__top_profile">
            <div class="chatsLeftBox__top_profile_link">
                {{{Link}}}
                <img src="{{arrowLinkImg}}" alt="перейти в профиль" />
            </div>
        </div>
        <div class="chatsLeftBox__top_search">
            <div class="chatsLeftBox__top_search_placeholder">
                <img src="{{searchIconImg}}" alt="search" />
                <span>Поиск</span>
            </div>
            <input type="search" class="chatsLeftBox__top_search_input" />
        </div>
    </div>
    <div class="chatsLeftBox__list">
        {{#each ChatsList}}
            {{{this}}}
        {{/each}}
    </div>
</sector>