<sector class="chatsLeftBox">
    <div>
        <div class="chatsLeftBox__top_profile">
            <div class="chatsLeftBox__top_profile_link">
                {{{Link}}}
            </div>
        </div>
        <div class="chatsLeftBox__top_search">
            <div class="chatsLeftBox__top_search_placeholder">
                <span>Поиск</span>
            </div>
            <input type="search" class="chatsLeftBox__top_search_input" />
        </div>
    </div>
    <div>
        {{{ButtonCreateChat}}}
    </div>
    <div class="chatsLeftBox__list">
        {{#each ChatsList}}
            {{{this}}}
        {{/each}}
    </div>
    {{{Modal}}}
</sector>