.chats
  @include centerFlex()
  overflow: hidden
  &__topBox
    &_profile
      padding: 20px
      @include centerFlex()
      justify-content: flex-end
      &_link
        padding-right: 10px
        font-size: 12px
        line-height: 12px
        color: $colorSecondary
    &_search
      position: relative
      margin-bottom: 15px
      @include centerFlex()
      &_input
        width: 290px
        padding: 5px 10px
        background: $colorBorder
        border: none
        border-radius: 5px
        box-sizing: border-box
      &_placeholder
        @include centerFlex()
        justify-content: space-between
        width: 50px
        position: absolute
        font-size: 12px
        line-height: 12px
        color: $colorSecondary
  &__leftBox
    width: 25vw
    height: 100vh
    min-width: 310px
    background: $colorChats
    border-left: $borderDefault
    &_list
      display: flex
      align-items: center
      flex-direction: column
      overflow-y: scroll
      height: calc(100vh - 80px)
      &::-webkit-scrollbar
        width: 2px
  &__correspondence
    width: 75vw
    height: 100vh
    padding: 10px 20px
    font-size: 12px
    line-height: 12px
    color: $colorSecondary
    display: flex
    justify-content: space-between
    flex-direction: column
    &_header
      display: flex
      align-items: center
      justify-content: center
      flex-direction: column
      &_avatar
        border-radius: 50px
        width: 50px
        height: 50px
        background: $colorAvatar
        min-width: 50px
        margin-right: 10px
    &_info
      display: flex
      width: 100%
      align-items: center
      justify-content: space-between
      padding: 10px 0
      box-sizing: border-box
      color: colorMain
      border-bottom: $borderDefault
      &_name
        width: 100%
        color: $colorMain
        font-weight: bold
    &_footer
      @include centerFlex()
      justify-content: space-between
      border-top: $borderDefault
      padding-top: 10px
      &_text
        width: 100%
        max-height: 45px
        background: $colorAvatar
        border: none
        border-radius: 30px
        padding: 10px 20px
        margin: 0 20px
        min-width: 300px
    &_messages
      overflow-y: scroll
      padding: 10px 0
      &::-webkit-scrollbar
        width: 2px
    &_message
      min-width: 150px
      min-height: 40px
      max-height: 400px
      max-width: 300px
      padding: 10px
      box-sizing: border-box
    &_messageDate
      @include centerFlex()
      font-size: 12px
      line-height: 12px
    &_myMessage
      background: $colorHover
      border-radius: 20px 20px 0 20px
    &_friendMessage
      background: $colorMessage
      border-radius: 20px
    &_time
      display: inline-block
      width: 100%
      text-align: end
    &_row
      display: flex
      width: 100%
      margin-top: 10px
      &_my
        justify-content: end
