---
chats: [
    { srcAvatar: "src", login: "User1", lastMessage: "...", dateMessage: "00:00", newMessage: "2" },
    { srcAvatar: "src", login: "User2", lastMessage: "...", dateMessage: "00:00", newMessage: "2" },
    { srcAvatar: "src", login: "User3", lastMessage: "...", dateMessage: "00:00", newMessage: "2" },
    { srcAvatar: "src", login: "User4", lastMessage: "...", dateMessage: "00:00", newMessage: "2" },
    { srcAvatar: "src", login: "User5", lastMessage: "...", dateMessage: "00:00", newMessage: "2" },
    { srcAvatar: "src", login: "User6", lastMessage: "...", dateMessage: "00:00", newMessage: "2" },
    { srcAvatar: "src", login: "User7", lastMessage: "...", dateMessage: "00:00", newMessage: "2" },
    { srcAvatar: "src", login: "User8", lastMessage: "...", dateMessage: "00:00", newMessage: "4" },
    { srcAvatar: "src", login: "User9", lastMessage: "...", dateMessage: "00:00", newMessage: "1" },
    { srcAvatar: "src", login: "User10", lastMessage: "...", dateMessage: "00:00", newMessage: "2" },
    { srcAvatar: "src", login: "User11", lastMessage: "...", dateMessage: "00:00", newMessage: "2" }
]

messages: [
    {   
        textMessage: 'Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент',
        createMessage: '11:56', 
        my: false
    },
    { textMessage: 'img', createMessage: '11:52', my: false },
    { textMessage: 'КРУТо!', createMessage: '11:52', my: true },
    {
        textMessage: 'Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент',
        createMessage: '11:56', 
        my: false},
    { textMessage: 'Ага!', createMessage: '11:52', my: true },
]
menuChangeFriends: {
    srcImg: '../../assets/imgs/MenuIcon.svg', 
    srcAlt: 'Изменение статуса',
    position: { top: '50px', right: '0px', left: 'auto', bottom: 'auto' }, 
    menuItems: [
        { srcImg: '../../assets/imgs/CrossIcon2.svg', title: 'Добавить пользователя' },
        { srcImg: '../../assets/imgs/CrossIcon2.svg', title: 'Удалить пользователя', rotateDeg: 45 },
    ] 
}
menuAddContent: {
    srcImg: '../../assets/imgs/AttachIcon.svg', 
    srcAlt: 'Прикрепить',
    position: { top: '-150px', left: '-20px', right: 'auto', bottom: 'auto' }, 
    menuItems: [
        { srcImg: '../../assets/imgs/PhotoIcon.svg', title: 'Фото или Видео' }, 
        { srcImg: '../../assets/imgs/AddFileIcon.svg', title: 'Файл' }, 
        { srcImg: '../../assets/imgs/AddLocationIcon.svg',title: 'Локация' }, 
    ]
}
---

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats</title>
    <script src="./index.ts" type="module"></script>
</head>

<body>
    <div id="root">
        <main class="chats">
            {{> ChatsLeftBox 
            chats = chats
            }}
            <div class="chats__correspondence">
                <div class="hidden">Выберите чат чтобы отправить сообщение</div>
                <div class="chats__correspondence_header ">
                    <div class="chats__correspondence_info ">
                        {{> Avatar }}
                        <div class="chats__correspondence_info_name">Вадим</div>
                        {{> ModalSubMenu
                        srcImg = menuChangeFriends.srcImg
                        srcAlt = menuChangeFriends.srcAlt
                        menuItems = menuChangeFriends.menuItems
                        position = menuChangeFriends.position
                        }}
                    </div>
                </div>
                <div class="chats__correspondence_messages">
                    <div class="chats__correspondence_messages_date">
                        <div class="chats__correspondence_messages_date_line"></div>
                        <span class="chats__correspondence_messages_date_text">19 июня</span>
                    </div>
                    {{#each messages}}
                    {{> FriendMessage
                    textMessage = this.textMessage
                    createMessage = this.createMessage
                    my=this.my
                    }}
                    {{/each}}
                </div>
                <div class="chats__correspondence_footer">
                    {{> ModalSubMenu
                    srcImg = menuAddContent.srcImg
                    srcAlt = menuAddContent.srcAlt
                    menuItems = menuAddContent.menuItems
                    position = menuAddContent.position
                    }}
                    <input class="chats__correspondence_footer_text" placeholder="Сообщение" name="message"></input>
                    {{> ButtonCircle
                    type="right"
                    alt="отправить сообщение"
                    }}
                </div>
            </div>
        </main>
    </div>
</body>

</html>