<html lang="ru">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="../src/index.ts" type="module"></script>
        <title>Мессенджер</title>
    </head>

    <body>
        <div id="root">
            <ul>
                <li>
                    <a href="../src/pages/Authorization/index.hbs">
                        Authorization
                    </a>
                </li>
                <li><a href="../src/pages/Chats/index.hbs">Chats</a></li>
                <li><a href="../src/pages/Profile/index.hbs">Profile</a></li>
                <li>
                    <a href="../src/pages/Registration/index.hbs">
                        Registration
                    </a>
                </li>
                <li><a href="../src/pages/NotFound/index.hbs">NotFound</a></li>
                <li>
                    <a href="../src/pages/ServerError/index.hbs">
                        ServerError
                    </a>
                </li>
                <li>
                    <a href="../src/pages/ModalsProfile/index.hbs">
                        Modals Profile
                    </a>
                </li>
            </ul>
        </div>
    </body>

</html>