@import '../../constants/var/vars.sass'

.fieldForm
	display: flex
	flex-direction: column
	width: 280px
	margin: 0 auto 5px
	justify-content: center
	position: relative

	&__label
		font-size: 9px
		line-height: 9px
		color: $colorSecondary
