@import './constants/var/vars.sass'

#root
	position: relative
	width: 100vw
	height: 100vh
	font-family: sans-serif
	@include centerFlex()
	background: $colorDefault
	color: $colorMain
	overflow-x: hidden

.hidden
	// display: none
	visibility: hidden

.destroy
	visibility: hidden
	display: none
	opacity: 0

.tooltip
	display: none
	padding: 5px
	border: 1px solid black

.tooltip.tooltip_active
	display: block
	position: absolute

.left_bottom
	position: fixed
	bottom: 5px
	left: 0

.divider
	width: 96%
	margin: 2px 0
	border-top: $borderDefault
